<div class="file_list_container" id="<%= to_id(title) %>" data-total-files="<%= source_files.length %>">
  <span class="group_name hide"><%= title %></span>
  <span class="covered_percent hide"><%= covered_percent(source_files.covered_percent) %></span>

  <div class="file_list--responsive">
    <table class="file_list">
      <thead>
        <tr>
          <th class="cell--left">
            <div class="th-with-filter">
              <span class="th-label">File Name</span>
              <input type="search" class="col-filter col-filter--name" placeholder="Filter paths&#8230;">
            </div>
          </th>
          <%= coverage_header_cells("Line Coverage", "line", "Covered", "Lines") %>
<%- if branch_coverage? -%>
          <%= coverage_header_cells("Branch Coverage", "branch", "Covered", "Branches") %>
<%- end -%>
<%- if method_coverage? -%>
          <%= coverage_header_cells("Method Coverage", "method", "Covered", "Methods") %>
<%- end -%>
        </tr>
<%- line_pct = source_files.lines_of_code > 0 ? source_files.covered_percent : 100.0 -%>
<%- branch_pct = branch_coverage? && source_files.total_branches > 0 ? source_files.branch_covered_percent : 100.0 -%>
<%- method_pct = method_coverage? && source_files.total_methods > 0 ? source_files.method_covered_percent : 100.0 -%>
        <tr class="totals-row">
          <td class="strong t-file-count"><%= fmt(source_files.length) %> <%= source_files.length == 1 ? "file" : "files" %></td>
          <%= coverage_cells(line_pct, source_files.covered_lines, source_files.lines_of_code, type: "line", totals: true) %>
<%- if branch_coverage? -%>
          <%= coverage_cells(branch_pct, source_files.covered_branches, source_files.total_branches, type: "branch", totals: true) %>
<%- end -%>
<%- if method_coverage? -%>
          <%= coverage_cells(method_pct, source_files.covered_methods, source_files.total_methods, type: "method", totals: true) %>
<%- end -%>
        </tr>
      </thead>
      <tbody>
<%- source_files.each do |source_file| -%>
<%- covered_lines = source_file.covered_lines.count
    relevant_lines = covered_lines + source_file.missed_lines.count -%>
        <tr class="t-file" <%= file_data_attrs(source_file) %>>
          <td class="strong t-file__name"><%= link_to_source_file(source_file) %></td>
          <%= coverage_cells(source_file.covered_percent, covered_lines, relevant_lines, type: "line") %>
<%- if branch_coverage? -%>
          <%= coverage_cells(source_file.branches_coverage_percent, source_file.covered_branches.count, source_file.total_branches.count, type: "branch") %>
<%- end -%>
<%- if method_coverage? -%>
          <%= coverage_cells(source_file.methods_coverage_percent, source_file.covered_methods.count, source_file.methods.count, type: "method") %>
<%- end -%>
        </tr>
<%- end -%>
      </tbody>
    </table>
  </div>
</div>
